/*
Theme Name: wp-bootstrap-2-child
Description: Child theme of WP Bootstrap.
Author: JC-IT
Template:wp-bootstrap
Version: 1.0
*/


/* Import CSS Here */
@import url("../wp-bootstrap/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
header h3{
	line-height:40px;
	margin-bottom:-5px;
}

#main article {
    margin-bottom: 18px;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 0px;
}

/* Override styles in /themes/wp-bootstrap/admin/themes/flatly/bootstrap.css */
.page-header {
padding-bottom: 0px;
margin: 20px 0 30px;
}
.accordion {
	margin-bottom:0px;
}
.accordion-inner {
	padding:10px 0 0 0;
}
.accordion-heading .accordion-toggle{
	display:block;
	padding:0px;
}


 /* Created style below to avoid in-line styling */

 	/* Thumbnails */
	.thumbnail-right-padding {
		padding-right:10px;
	}

	/* Titles */
	.article-title {
		margin-bottom:-1px;
	}
	.page-title {
		margin-top:-1px;
	}
	.page-title-hr {
		margin-top:-1px;
	}

	/* Homepage */
	.hp-section-title {
		margin-top:-2px;
	}
	.hp-slider-height {
		height:400px;
	}

	/* FAQ Templates */
	.faq-remove-borders {
		border:none;
	}
	.faq-up-arrow {
		opacity:0.20;
	}
	.faq-section,.faq-section:hover {
		text-decoration:none;
		color:#2c3e50;
	}

	/* Document Templates */
	.doc-description {
		margin-bottom:-5px;
	}

	/* Training Template */
	.jcah-training-tpl-icons {
		padding-right:5px;
		width:40px
	}